streamlit==1.41.1
flaml
xgboost==2.1.3
scikit-learn==1.2.2
lightgbm==4.5.0
catboost==1.2.7
pandas==2.1.4
joblib==1.4.2
openai
plotly==5.24.1
folium==0.17.0
streamlit-folium==0.24.0
Pillow
numpy==1.26.4
ray[tune]
fsspec==2024.6.0
